.code-area {
  width: 90%;
  min-height: 360px;
  padding: 5px 0 0 20px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #ededff;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
  resize: none;
  line-height: 160%;
}
.console-area {
  width: 90%;
  min-height: 200px;
  padding: 5px 0 0 20px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #6e6e77;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
  resize: none;
  line-height: 160%;
}
.answer-header {
  text-align: initial;
}
.answer-header-inner,
.answer-header-inner div,
.answer-header-inner button {
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
}
